<div class="panel panel-default">
  <div class="panel-heading"><h2>Total Product Count</h2></div>
  <div class="panel-body">
    <h3><%= @num_products %></h3>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2>Number of Categories</h2></div>
  <div class="panel-body">
    <h3><%= @num_categories %></h3>
  </div>
</div>